@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('@/assets/fonts/Lato-Bold.ttf') format('TrueType');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/Lato-Regular.ttf') format('TrueType');
}
