@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('@/assets/fonts/Lato-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/Lato-Regular.ttf') format('ttf');
}


@font-face {
  font-family: 'RoadRage';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/RoadRage-Regular.woff') format('woff');
}
