// Import other SCSS files
 @import "src/assets/styles/settings/colors.scss";
 @import "src/assets/styles/settings/font.scss";
 @import "src/assets/styles/utils.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  color: aliceblue;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}