.u-uppercase {
  text-transform: uppercase;
}

.u-italic {
  font-style: italic;
}

.u-mb-modal {
  margin-bottom: 32px;
}

.u-12 {
  font-size: 12px;
}

.u-mt-lottie {
  margin-top: -25px;
}

.u-hidden {
  display: none !important;
}

.u-cursor-hidden {
  cursor: none;
}